{% extends 'dashboard_layout/master.html' %}
{% load static %}

{% block body %}

<main class="app-main">
  <div class="app-content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="app-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box text-bg-primary">
            <div class="inner">
              <h3>{{ total_children }}</h3>
              <p>Total Children</p>
            </div>
            <a href="{% url 'child_list' %}" class="small-box-footer">More info</a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box text-bg-success">
            <div class="inner">
              <h3>{{ total_staff }}</h3>
              <p>Total Staff</p>
            </div>
            <a href="{% url 'staff_list' %}" class="small-box-footer">More info</a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box text-bg-warning">
            <div class="inner">
              <h3>{{ total_donors }}</h3>
              <p>Donors</p>
            </div>
            <a href="{% url 'donor_list'%}" class="small-box-footer">More info</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

{% endblock body %}
