<footer class="footer">
    <div class="container d-flex">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-4">
          <h3 class="heading-section">About Us</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore neque reiciendis, amet dignissimos natus, error quasi reprehenderit harum aliquam animi adipisci veniam necessitatibus corporis ipsa accusamus! Esse ut vero dolorum?</p>
          <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio earum excepturi facere modi perferendis soluta, reprehenderit doloribus cupiditate officia ad!</p>
          
        </div>
        

          

          
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="block-23">
            <h3 class="heading-section">Get Connected</h3>
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Nairobi,Kenya</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+25455677788</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">harambechildrenhome@gmail.com</span></a></li>
              </ul>
            </div>
        </div>
        
        
      </div>
      <div class="row pt-5">
        <div class="col-md-12 text-center">
          
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with <i class="ion-ios-heart text-danger" aria-hidden="true"></i> by <a href="" target="_blank" >harambechildrenhome</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          
        </div>
      </div>
    </div>
  </footer>